@import '../../variables';

.form-wrapper {
  border: 2px solid rgb(224, 224, 224);
  border-radius: 15px;
  padding: 5vh;
  width: 40vh;
  margin: 40px auto;
  text-align: center;
  input {
    border-radius: 5px;
    width: 30vh;
    height: 3vh;
    margin: 2vh 0;
  }
  .green-branded-button{
    width: 10vh;
    height: 3vh;
  }
}