@import '../variables';

footer{
  height: 3vh;
  background-color: $secondaryColour;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  a{
    color:white;
    text-decoration: none;
  }
}