$mainColour: #00ff80;
$secondaryColour: #008040;
$greyColour: #e2e2e2;
$darkGreyColour: #88959F;



.green-branded-button{
  background-color: $mainColour;
  color: white;
  border: 1px solid $darkGreyColour;
  border-radius: 10px;
  font-family: 'Righteous', cursive;
}

.grey-branded-button{
  background-color: $darkGreyColour;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: 'Righteous', cursive;
}

.red-branded-button{
  background-color: red;
  color: white;
  border: 1px solid $darkGreyColour;
  border-radius: 10px;
}

.recipe-card{
  height: 21vh;
  width: 25vh;
  position: relative;
  transition: transform 0.5s ;
  .recipe-image-container{
    width: 25vh;
    height: 21vh;
    img {
      width: 25vh;
      height: 21vh;
      border-radius: 10%;
      box-shadow: 3px 3px 5px rgb(59, 59, 59);
    }
  }
  .text-container{
    display: none;
    color: white;
    position: absolute;
    text-align: center;
    top: 0;
    width: 25vh;
    height: 21vh; 
    border-radius: 10%;     
    p{
      font-size: 0.5rem ;
    }
    h3{
      font-size: 1rem;
    }
    
  }
  &:hover{
    transform: translateY(-5px);
    .text-container{
      display: initial;
      background: rgba(0, 0, 0, 0.5);
    }
    img{
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

