@import './variables';

@import './components/pages/welcome_page';
@import './components/pages/search_page';
@import './components/pages/login_page';
@import './components/pages/register_page';
@import './components/pages/profile_page';
@import './components/pages/updateProfile_page';
@import './components/pages/myRecipes_page';
@import './components/pages/recipe_page';
@import './components/pages/addrecipe_page.scss';
@import './components/pages/shoppingList_page';

@import './components/footer';
@import './components/nav';




* {
  box-sizing: border-box;
  font-family: 'Gloria Hallelujah', cursive;
}

body{
  margin: 0 10vw 5vh 10vw;
}
